body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Se till att body täcker hela fönstret vertikalt */
}

#mainDiv {
    display: flex;
    flex-wrap: wrap;
    width: 50%; /* Bestäm en exakt bredd för att kunna dela upp rutorna jämnt */
    height: 50%; /* Gör mainDiv till en kvadratisk yta */
    margin-left: auto;
    margin-right: auto;
}




#mainDiv div {
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box; 
}

.changed {
    background-color: black !important;
}